
@font-face {
  font-family: 'reddit';
  src: url('/assets/fonts/Reddit_Sans/reddit.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'reddit';
  src: url('/assets/fonts/Reddit_Sans/reddit.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'reddit';
  src: url('/assets/fonts/Reddit_Sans/reddit.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'reddit';
  src: url('/assets/fonts/Reddit_Sans/reddit.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'reddit';
  src: url('/assets/fonts/Reddit_Sans/reddit-italic.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}