@use './helpers/' as *;

body {
  background: var(--light-gradient);
  font-family: 'reddit';
}

html {
  scrollbar-width: none;
}

.tile {
  background-color: #fff;
  border-radius: rem(16);
  padding: rem(40) rem(32);
}
