:root {
  /* Neutral */
  --neutral-900: #121240;
  --neutral-600: #575778;
  --neutral-300: #9393B7;
  --neutral-200: #C8CDD0;
  --neutral-0: #FFFFFF;

  /* Blue */
  --blue-700: #2A4CD5;
  --blue-600: #4869DB;
  --blue-200: #C7D3F7;
  --blue-100: #E0E6FA;

  /* Red */
  --red-700: #E60013;

  /* Other colors */
  --red-300: #FFB899;
  --indigo-200: #B8B1FF;
  --blue-300: #89CAFF;
  --green-300: #89E780;
  --amber-300: #FFD97C;

  /* Gradient */
  --light-gradient: linear-gradient(180deg, #f5f5ff 72.99%, #e0e0ff 100%);
}
